@charset UTF-8;
/* =========================================== */
@font-face {
	font-family: 'font_tsukushi_system_7';
	src: url('./font_tsukushi_system_7_h.woff') format('woff'),
	     url('./font_tsukushi_system_7_h.otf') format('opentype'),
	     url('./font_tsukushi_system_7_h.ttf') format('truetype'),
	     url('./font_tsukushi_system_7_h.svg#FontPlus') format('svg');
	src: url('./font_tsukushi_system_7_h.eot')\9;
}
/* =========================================== */
